
#compareblock {
  width: 100%;
  max-width: 600px;
  position: relative;
  margin: 0 auto;
  top: 50px;
  padding-top: 34px;
   }

#compare-front-img {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  z-index: 5;
 }

#compare-front-img img {
 height: 400px;
 width: 640px;
}

#compare-back-img img {
 height: 400px;
  width: 640px;
}

#compare-line {
  background: white;
  position: absolute;
  z-index: 10;
  top: 0;
  width: 2px;
  height: 100%;
  left: 50%;
  cursor: pointer;
  }

#compare-line:before {
  content: url(../img/theta_button.png);
  display: block;
  position: absolute;
  left: -15px;
}
